.example {
    text-align: center;
    color: gold;
    border: solid;
}

div {
    text-align: center;
}

.center {
    width: 30%;
}
body {
    background-image: url('https://media.fstatic.com/rOEtxsdAQHKJh-FBl76-AWUmIHk=/full-fit-in/1200x600/filters:format(webp)/media/articles/main/2021/07/20/jackass-para-sempre-4-scaled-e1626800250208-1077118394.jpg');
}