header{
        text-align: center;
        color: gold;
        border: solid;
    }
nav li{
    display:inline;
    margin: 0 0 0 75px ;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}